body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #262427;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.video {
    text-align: center;
    margin-right: 20px;
}

video {
    width: 100%;
    max-width: 800px;
    border-radius: 5px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-top: 10px;
}

p {
    color: #666;
    font-size: 16px;
    margin: 10px 0;
}

.categoria {
    color: #a00dda;
    font-weight: bold;
}

.comentarios {
    flex-grow: 1;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

h3 {
    color: #333;
    font-size: 18px;
}

.lecciones {
    flex-basis: 30%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lecciones h2 {
    font-size: 20px;
    color: #333;
}

.lecciones ul {
    list-style-type: none;
    padding: 0;
}

.lecciones ul li {
    font-size: 16px;
    margin: 5px 0;
    color: #333;
}

.lecciones ul li.categoria {
    font-weight: bold;
    color: #a00dda;
}
