body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.perfil {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.foto-perfil {
    margin-right: 20px;
}

.foto-perfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #007bff;
}

.informacion {
    text-align: left;
}

.caja {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

h2 {
    color: #333;
    font-size: 24px;
    margin: 0;
}

p {
    color: #666;
    font-size: 18px;
    margin: 0;
}

.redes-sociales {
    margin-top: 20px;
}

.red-social {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
    font-size: 20px;
}

.red-social:hover {
    text-decoration: underline;
}
