body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #262427;
    color: #fff;
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
}

.header-search {
    display: flex;
    align-items: center;
}

.header-search input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    margin-right: 0;
}

.header-search button {
    background-color: #a00dda;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px 20px;
    cursor: pointer;
}

.header-nav{
margin-right: 800px;
}

.header-nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-right: 20px;
}

.header-actions {
    display: flex;
    align-items: center;
}

.action-button {
    background-color: #a00dda;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.courses-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin-top: 10%;
}

.course {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.course:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.course h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.course p {
    color: #666;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 10%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-container p {
    margin: 0;
    font-size: 14px;
}